<template>
  <div id="app">
    <template v-if="$store.state.currentUser">
      <nav>
        <router-link to="/console">Server Console</router-link>
        <span> | </span>
        <router-link to="/whitelist-management">Whitelist Management</router-link>
        <span> | </span>
        <a href="javascript:void(0)" @click="logout">Logout</a>
      </nav>
      <hr />
    </template>
    <router-view/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Layout',
  async created () {
    await this.boot()
    if (this.$store.state.currentUser) {
      await this.startServerStatusPolling()
      await this.setupConsole()
    }
  },
  watch: {
    '$store.state.currentUser': {
      immediate: true,
      async handler (currentUser) {
        if (currentUser) {
          await this.$router.push('/console')
          await this.startServerStatusPolling()
          await this.setupConsole()
        } else if (!currentUser && this.$route.fullPath !== '/') {
          await this.$router.push('/')
          await this.clearServerStatusPolling()
          await this.disconnectConsole()
        }
      }
    }
  },
  beforeRouteUpdate (to, from, next) {
    if (to.fullPath !== '/' && !this.$store.state.currentUser) return
    if (to.fullPath === '/' && this.$store.state.currentUser) return

    next()
  },
  methods: mapActions(['boot', 'setupConsole', 'disconnectConsole', 'startServerStatusPolling', 'clearServerStatusPolling', 'logout'])
}
</script>

<style scoped>
  .router-link-exact-active {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
</style>
