<template>
  <div class="home">
    <p>Server Status: {{ serverState }}</p>
    <input type="button" value="Start Server" @click="startServer" />
    <input type="button" value="Stop Server" @click="stopServer" />
    <input type="button" value="Reload Server" @click="reloadServer" />
    <input type="button" value="Kill Server" @click="killServer" />
    <input type="button" value="Status Server" @click="updateServerStatus" />
    <div class="console" ref="console">
      <pre v-for="(line, index) in consoleBuffer" :key="`console-line-${index}`"><code>{{ line }}</code></pre>
    </div>
    <form @submit.prevent="sendToWebSocket">
      <label>
        <span>Send Command: </span>
        <input type="text" id="txtCmd" v-model="consoleInput" />
      </label>
      <input type="submit" value="Send" />
    </form>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'Home',
  data () {
    return {
      consoleInput: ''
    }
  },
  computed: {
    ...mapState(['consoleBuffer']),
    ...mapGetters(['serverState'])
  },
  watch: {
    consoleBuffer: {
      immediate: true,
      handler () {
        this.$nextTick(() => {
          const console = this.$refs.console
          console.scrollTop = console.scrollHeight
        })
      }
    }
  },
  methods: {
    ...mapActions(['updateServerStatus', 'startServer', 'stopServer', 'reloadServer', 'killServer']),
    sendToWebSocket () {
      this.$store.dispatch('sendToWebSocket', this.consoleInput + '\n')
      this.consoleInput = ''
    }
  }
}
</script>

<style scoped>
  .console {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  #txtCmd {
    width: 512px;
  }

  input[type=button] + input[type=button] {
    margin-left: 0.5rem;
  }

  pre, code {
    margin: 1px;
  }
</style>
