<template>
  <div class="login">
    <form @submit.prevent="login({ email, password })">
      <div>
        <label>
          <span>Email: </span>
          <input type="email" v-model="email" />
        </label>
      </div>
      <div>
        <label>
          <span>Password: </span>
          <input type="password" v-model="password" />
        </label>
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    ...mapActions(['login'])
  }
}
</script>

<style scoped>
  .login {
    width: 100%;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
