<template>
  <div>
    <h2>Whitelist</h2>
    <ul>
      <li v-for="item in whitelist" :key="item.uuid">
        <span>{{ item.name }} ({{ item.uuid }})</span>
        <span> | </span>
        <a href="javascript:void(0)" @click="removeFromWhitelist(item.uuid)">(X)</a>
      </li>
    </ul>
    <form @submit.prevent="addToWhitelist(whitelistInput)">
      <label>
        <span>Add to Whitelist: </span>
        <input type="text" v-model="whitelistInput" />
      </label>
      <input type="submit" value="Add to Whitelist" />
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Whitelist',
  data () {
    return {
      whitelistInput: ''
    }
  },
  computed: {
    ...mapState(['whitelist'])
  },
  async created () {
    await this.loadWhitelist()
  },
  methods: {
    ...mapActions(['loadWhitelist']),
    async addToWhitelist (username) {
      await this.$store.dispatch('addToWhitelist', username)
      this.whitelistInput = ''
    },
    async removeFromWhitelist (uuid) {
      if (confirm('are you sure to remove this item ?')) {
        await this.$store.dispatch('removeFromWhitelist', uuid)
      }
    }
  }
}
</script>

<style scoped>

</style>
